/**
 * Full content styles
 */

.full-movie {
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  box-shadow: 1px 1px 10px 0px rgba(#d4d6da, 0.5);
  font-size: 14px;

  @include mediaTablet {
    display: flex;
    max-width: 1024px;
  }

  &__image {
    img {
      width: 100%;
    }

    @include mediaTablet {
      flex: 1;
    }

    @include mediaDesktop {
      flex-basis: 300px;
      flex-grow: initial;

      img {
        height: 100%;
      }
    }
  }

  &__content {
    padding: 20px;

    @include mediaTablet {
      flex: 1;
    }

    @include mediaDesktop {
      padding: 30px;
    }
  }

  &__title {
    font-family: var(--roboto);
    font-size: 22px;
    font-weight: 900;
    padding-bottom: 10px;

    @include mediaTablet {
      font-size: 26px;
    }

    @include mediaDesktop {
      font-size: 30px;
    }
  }

  &__sub {
    padding-bottom: 5px;
    line-height: 1.2;
  }

  &__entry-list {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--lightGrey);
    font-size: 12px;
    font-weight: 700;
    font-family: var(--roboto);
    display: flex;

    li:not(:first-child) {
      padding-left: 10px;
      margin-left: 10px;
      border-left: 1px solid var(--lightGrey);
    }
  }

  &__description {
    border-left: 5px solid var(--lightGrey);
    padding: 5px 0 5px 10px;
    margin: 15px 0;
    line-height: 1.4;
  }

  &__website {
    padding: 15px 0;
  }
}

/*/ Animation /*/
.full-movie-animation-appear {
  opacity: 0.01;
}

.full-movie-animation-appear.full-movie-animation-appear-active {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
