/**
 * Navigation menu
 */

.nav {
    padding: 20px;

    &__list {
        display: flex;

        & li {
            &:first-child {
                margin-right: 40px;
            }

            .nav__link {
                font-family: var(--roboto);
                font-size: 20px;
                font-weight: 800;
                cursor: pointer;
                transition: .1s all ease;
                color: var(--turquoise); 
                text-decoration: none;

                &:hover,
                &.is-active {
                    color: var(--darkGrey);
                }

                &.is-active {
                    pointer-events: none;
                    cursor: default;
                }
            }

            
        }

    }
}
