/**
 * App styles
 */
 
 .app-wrap {
	min-height: 100%;
	width: 100%;
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.main {
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	justify-content: center;
	
	position: sticky;
	top: 0;
	
	background-color: white;
	border-bottom: 1px solid #dddfe2;
}

